.archive-comic {
	padding: 2%;
	width: 15vw;
	height: 15vw;
	cursor: pointer;
	transition: .5s;
	object-fit: cover;
}

	.archive-comic:hover {
		filter: brightness(80%);
	}

#hootbye {
	max-width: 40vw;
}

#hootbye.hidden {
	display: none !important;
}