/* Highlights all element borders */
/*
* {
    outline: 1px solid #f00 !important;
  }*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    scrollbar-color: #280501 #DDD7D6;
    scrollbar-width: thin;
}

body {
    margin-bottom: 60px;
    color: #280501;
    user-select: none;
    font-family: "Lato", sans-serif;
}

footer {
    border: none !important;
    position: fixed !important;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px !important;
}

.warning-tag, .text-danger {
    color: #963636 !important; 
    font-weight: 700 !important;
}

.footer-item {
    cursor: pointer;
    margin-left: .25vw;
    margin-right: .25vw;
    transition: filter .5s;
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 65px;
    line-height: 1em;
    font-size: 0.75em;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

    .footer-item:hover {
        filter: brightness(0.6);
    }

    .footer-item a {
        color: #fff !important;
        text-decoration: none;
    }

    .footer-item .twitter {
        width: 10px;
        margin-right: 4px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 2px;
    }

.content-panel {
    position: fixed;
    top: 50%;
    transform: translateY(-50%)
}

h1 {
    font-size: 2.5em;
}

h4, h5 {
    color: #DDD7D6;
}

.top-5 {
    top: 5%;
}

.top-20 {
    top: 20%;
}

.top-25 {
    top: 25%;
}

.top-50 {
    top: 50%;
}

#logo {
    width: 200px;
    transition: 0.5s filter;
    cursor: pointer;
    padding-left: 2.5vw;
}

    #logo:hover {
       filter: brightness(0.6);
    }

#banner {
    max-width: 17.5vh;
}

#comic-display {
    max-width: 75vw;
    max-height: 75vh;
}

@media (max-height: 650px) {
    #comic-display {
        max-height: 350px;
    }
    .hide-on-low-height {
        display: none !important;
    }
  }

#site-nav {
    font-size: 2.5em;
    float: right;
    transition: all .5s;
    cursor: pointer;
    margin-right: 2vw;
    margin-top: 2vh;
}

    #site-nav:hover {
        font-weight: 700;
        filter: brightness(80%);
    }

.user-pfp, .site-option, .small-option {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    border-radius: 100%;
    color: #fff;
    background-color: #280501;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    user-select: none;
    transition: 0.2s;
}

    .site-option:hover,
    .small-option:hover {
        filter: brightness(80%);
        -webkit-animation: shake 1s;
        animation: shake 1s;
    }

.pfp-roundel {
    position: fixed;
    width: 64px !important;
    height: 64px !important;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
    bottom: 4vh;
    right: 2vw;
    border-radius: 50%;
    transition: filter 0.2s;
}

    .pfp-roundel:hover{ 
        filter:brightness(80%);
    }

.site-option {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 24px !important;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .15);
}

    .site-option.page-control {
        width: 30px;
        height: 30px;
        line-height: 30px !important;
        font-size: 15px !important;
        font-weight: 700;
        margin-right: 10px;
    }

    .site-option.disabled {
        cursor: default;
        color: #1e1e1e;
        background-color: #84706D;
    }

.small-option {
    width: 24px;
    height: 24px;
    line-height: 24px !important;
    font-size: 16px !important;
}

#site-menu {
    display: none;
    position: fixed;
    right: 0;
    margin-right: 1.4vw;
    overflow: hidden;
    transition: .2s;
    background-color: #fff;
    border: 2px solid #280501;
    padding: 8px 6px 8px 6px;
    border-radius: 50px;
    z-index: 100;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
    margin-top: 4vh;
}

    #site-menu.active {
        display: block;
        font-weight: 700;
    }

    #site-menu .site-option {
        display: inline-block;
    }

    #site-menu .container {
        display: inline-grid;
    }

    #site-menu img {
        width: 24px;
        margin-bottom: 10px;
    }

.site-menu-option {
    padding-top: 10px;
    padding-bottom: 10px;
}

.alert {
    text-align: center;
    font-size: 1.5em;
    z-index: 200;
    position: sticky;
    background: rgba(40,5,1,90%);
    color: #fff;
    width: 10%;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.15);
    margin-bottom: 10px;
}

input,
textarea,
select,
.form-control,
.form-control:focus,
.form-control:read-only {
    color: #280501;
    background-color: #DDD7D6;
    border: 2px solid transparent !important;
    transition: all .2s;
    scrollbar-color: #280501 #DDD7D6;
    scrollbar-width: thin;
    box-shadow: none;
    margin-bottom: 10px;
    min-width: 367.5px !important;
    max-width: 367.5px !important;
    font-weight: 400;
    font-size: 1.15em;
}

    input:hover,
    textarea:hover,
    select:hover,
    .form-control:hover {
        box-shadow: none;
        filter: brightness(90%);
    }

    input:autofill,
    input:-webkit-autofill {
        background: inherit;
        color: #280501 !important;
        background-color: #fff !important;
        border: 1px solid #280501 !important;
        font-weight: 700;
    }

    input:read-only,
    textarea:read-only,
    select:disabled {
        background-color: #84706D !important
    }

    input:focus {
        font-weight: 700;
    }

.form-group input,
.form-group select,
.form-group textarea {
    margin-left: auto;
    margin-right: auto
}

.background-stripe {
    background-color: #fff;
    opacity: 0.2;
    background-image:  linear-gradient(#280501 2px, transparent 2px), linear-gradient(90deg, #280501 2px, transparent 2px), linear-gradient(#280501 1px, transparent 1px), linear-gradient(90deg, #280501 1px, #fff 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    height: 100vh;
    width: 10vw;
    position: absolute;
    z-index: -100;
    float: left;
    margin-left: 0vw;
    margin-top: 0%;
    top: 0;
    left: 0;
    box-shadow: 20px 0 10px -10px rgba(0,0,0,.25);
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

/* HTML: <div class="loader"></div> */
.loader {
    display: block;
    margin: auto;
    width: 18px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #280501;
    animation: l2 1.5s infinite;
  }
  @keyframes l2 {
    0%,
    100%{transform:translate(-35px);box-shadow:  0     0 #84706D, 0     0 #DFDAD9}
    40% {transform:translate( 35px);box-shadow: -15px  0 #84706D,-30px  0 #DFDAD9}
    50% {transform:translate( 35px);box-shadow:  0     0 #84706D, 0     0 #DFDAD9}
    90% {transform:translate(-35px);box-shadow:  15px  0 #84706D, 30px  0 #DFDAD9}
  }
