body {
	overflow-y: scroll;
}

.archive-comic {
	padding: 2%;
	width: 25vw;
	cursor: pointer;
	transition: .5s;
	object-fit: cover;
}

	.archive-comic:hover {
		filter: brightness(80%);
	}

	@media (min-width: 1200px) {
		.archive-comic {
			width: 15vw;
		}
	}

#hootbye {
	max-width: 40vw;
}

#hootbye.hidden {
	display: none !important;
}